@tailwind base;
@tailwind components;
@tailwind utilities;

.vintage-shadow-blue {
  @apply font-bold text-5xl md:text-7xl relative;
  color: #3ccde3;
  letter-spacing: 0.05em;
  text-shadow:
    2px 2px 0 #21798e,
    4px 4px 0 #187886,
    6px 6px 0 #0a566b;
}

.vintage-shadow {
  @apply font-bold text-5xl md:text-7xl text-[#F5D6B4] relative;
  letter-spacing: 0.05em;
  text-shadow:
    2px 2px 0 #822a19,
    4px 4px 0 #822a19,
    6px 6px 0 #822a19,
    8px 8px 0 #000,
    10px 10px 10px #0006;
}
.text-outline-white {
  color: transparent;
  letter-spacing: 0.05em;
  text-shadow:
    2px 2px 0 #000000,
    4px 4px 0 #9a9a9a,
    6px 6px 0 #585858,
    8px 8px 0 #000,
    10px 10px 10px #0006;
  -webkit-text-stroke: 2px #fff;
  text-stroke: 2px #fff; /* For Firefox */
}
.text-outline-white2 {
  color: transparent;
  -webkit-text-stroke: 1.5px #fff;
  text-stroke: 1.5px #fff;
}

@layer utilities {
  .text-outline-white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-stroke-width: 2px;
    text-stroke-color: #ffffff;
    color: transparent;
  }
}

@layer utilities {
  .text-outline-white2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    text-stroke-width: 2px;
    text-stroke-color: #ffffff;
    color: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
