@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .text-outline-white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-stroke-width: 2px;
    text-stroke-color: #ffffff;
    color: transparent;
  }
}

@layer utilities {
  .text-outline-white2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    text-stroke-width: 2px;
    text-stroke-color: #ffffff;
    color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
